[SCRIPT]
cmd = mysqlimport
db_table = data_import
db_dbname = py_mysql
data_dir = data
cache_dir = cached
finished_dir = finished

[MYSQLIMPORT]
host = localhost
port = 3306
user = py_mysql
columns = id, item_code, item_cost, qty, total, createdTsVarChar, modifiedTsVarChar
