[SCRIPT]
host = localhost
port = 3306
user = py_mysql
password =
db_table = data_import
db_dbname = py_mysql
data_dir = data
cache_dir = cached
finished_dir = finished

[MYSQLIMPORT]
cmd = mysqlimport
columns = id, item_code, item_cost, qty, total

[LOAD_DATA_INFILE]
priority = CONCURRENT
replacement = REPLACE
charset = utf8
fields_terminated_by = '\t'
fields_enclosed_by = ''
fields_escaped_by = '\\'
lines_terminated_by = '\n'
lines_starting_by = ''
ignore_lines = 0
columns = id, item_code, item_cost, qty, total, @created_ts, @modified_ts
set = created_ts = str_to_date(@created_ts, '%%d/%%m/%%Y'), modified_ts = str_to_date(@modified_ts, '%%d/%%m/%%Y')